# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [76]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [77]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [78]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [79]:
print(next(iterator))

3

In [80]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [81]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [82]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    divisible = False
    while divisible == False:
        try:
            x= next(iterator)
            if x%2==0:
                divisible = True
                return x
        except:
            return 0

divisible2(iter([1,2,3]))

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [83]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [84]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [85]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    number = 0
    while number < n:
        if number%2 == 0:
            yield number
        number = number + 1
        
iterator = even_iterator(5)

for i in iterator:
    print(i)

0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [86]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [87]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [88]:
# Your code here:
np.mean(iris)
#Calcula la media de cada columna de datos

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [89]:
# Your code here:
np.std(iris)
#Calcula la desviacion estandar de cada columna de datos

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [90]:
# Your code here:
iris_numeric  = iris.select_dtypes(include=[np.number])
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [91]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    x=0.393701*x
    return x
cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [92]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
5        2.125985     1.535434      0.669292     0.157480
6        1.811025     1.338583      0.551181     0.118110
7        1.968505     1.338583      0.590552     0.078740
8        1.732284     1.141733      0.551181     0.078740
9        1.929135     1.220473      0.590552     0.039370
10       2.125985     1.456694      0.590552     0.078740
11       1.889765     1.338583      0.629922     0.078740
12       1.889765     1.181103      0.551181     0.039370
13       1.692914     1.181103      0.433071     0.039370
14       2.283466     1.574804      0.472441     0.078740
15       2.244096     1.732284      0.590552     0.157480
16       2.125985     1.535434      0.511811     0.157480
17       2.007875     1.377954      0.551181     0.118110
18       2.244096     1.496064      0.669292     0.118110
19       2.007875     1.496064      0.590552     0.118110
20       2.125985     1.338583      0.669292     0.078740
21       2.007875     1.456694      0.590552     0.157480
22       1.811025     1.417324      0.393701     0.078740
23       2.007875     1.299213      0.669292     0.196851
24       1.889765     1.338583      0.748032     0.078740
25       1.968505     1.181103      0.629922     0.078740
26       1.968505     1.338583      0.629922     0.157480
27       2.047245     1.377954      0.590552     0.078740
28       2.047245     1.338583      0.551181     0.078740
29       1.850395     1.259843      0.629922     0.078740
..            ...          ...           ...          ...
120      2.716537     1.259843      2.244096     0.905512
121      2.204726     1.102363      1.929135     0.787402
122      3.031498     1.102363      2.637797     0.787402
123      2.480316     1.062993      1.929135     0.708662
124      2.637797     1.299213      2.244096     0.826772
125      2.834647     1.259843      2.362206     0.708662
126      2.440946     1.102363      1.889765     0.708662
127      2.401576     1.181103      1.929135     0.708662
128      2.519686     1.102363      2.204726     0.826772
129      2.834647     1.181103      2.283466     0.629922
130      2.913387     1.102363      2.401576     0.748032
131      3.110238     1.496064      2.519686     0.787402
132      2.519686     1.102363      2.204726     0.866142
133      2.480316     1.102363      2.007875     0.590552
134      2.401576     1.023623      2.204726     0.551181
135      3.031498     1.181103      2.401576     0.905512
136      2.480316     1.338583      2.204726     0.944882
137      2.519686     1.220473      2.165355     0.708662
138      2.362206     1.181103      1.889765     0.708662
139      2.716537     1.220473      2.125985     0.826772
140      2.637797     1.220473      2.204726     0.944882
141      2.716537     1.220473      2.007875     0.905512
142      2.283466     1.062993      2.007875     0.748032
143      2.677167     1.259843      2.322836     0.905512
144      2.637797     1.299213      2.244096     0.984253
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [93]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
   
    return x + error

iris_constant = add_constant(iris_inch)
iris_constant

     sepal_length  sepal_width  petal_length  petal_width
0        4.007875     3.377954      2.551181     2.078740
1        3.929135     3.181103      2.551181     2.078740
2        3.850395     3.259843      2.511811     2.078740
3        3.811025     3.220473      2.590552     2.078740
4        3.968505     3.417324      2.551181     2.078740
5        4.125985     3.535434      2.669292     2.157480
6        3.811025     3.338583      2.551181     2.118110
7        3.968505     3.338583      2.590552     2.078740
8        3.732284     3.141733      2.551181     2.078740
9        3.929135     3.220473      2.590552     2.039370
10       4.125985     3.456694      2.590552     2.078740
11       3.889765     3.338583      2.629922     2.078740
12       3.889765     3.181103      2.551181     2.039370
13       3.692914     3.181103      2.433071     2.039370
14       4.283466     3.574804      2.472441     2.078740
15       4.244096     3.732284      2.590552     2.157480
16       4.125985     3.535434      2.511811     2.157480
17       4.007875     3.377954      2.551181     2.118110
18       4.244096     3.496064      2.669292     2.118110
19       4.007875     3.496064      2.590552     2.118110
20       4.125985     3.338583      2.669292     2.078740
21       4.007875     3.456694      2.590552     2.157480
22       3.811025     3.417324      2.393701     2.078740
23       4.007875     3.299213      2.669292     2.196851
24       3.889765     3.338583      2.748032     2.078740
25       3.968505     3.181103      2.629922     2.078740
26       3.968505     3.338583      2.629922     2.157480
27       4.047245     3.377954      2.590552     2.078740
28       4.047245     3.338583      2.551181     2.078740
29       3.850395     3.259843      2.629922     2.078740
..            ...          ...           ...          ...
120      4.716537     3.259843      4.244096     2.905512
121      4.204726     3.102363      3.929135     2.787402
122      5.031498     3.102363      4.637797     2.787402
123      4.480316     3.062993      3.929135     2.708662
124      4.637797     3.299213      4.244096     2.826772
125      4.834647     3.259843      4.362206     2.708662
126      4.440946     3.102363      3.889765     2.708662
127      4.401576     3.181103      3.929135     2.708662
128      4.519686     3.102363      4.204726     2.826772
129      4.834647     3.181103      4.283466     2.629922
130      4.913387     3.102363      4.401576     2.748032
131      5.110238     3.496064      4.519686     2.787402
132      4.519686     3.102363      4.204726     2.866142
133      4.480316     3.102363      4.007875     2.590552
134      4.401576     3.023623      4.204726     2.551181
135      5.031498     3.181103      4.401576     2.905512
136      4.480316     3.338583      4.204726     2.944882
137      4.519686     3.220473      4.165356     2.708662
138      4.362206     3.181103      3.889765     2.708662
139      4.716537     3.220473      4.125985     2.826772
140      4.637797     3.220473      4.204726     2.944882
141      4.716537     3.220473      4.007875     2.905512
142      4.283466     3.062993      4.007875     2.748032
143      4.677167     3.259843      4.322836     2.905512
144      4.637797     3.299213      4.244096     2.984253
145      4.637797     3.181103      4.047245     2.905512
146      4.480316     2.984253      3.968505     2.748032
147      4.559057     3.181103      4.047245     2.787402
148      4.440946     3.338583      4.125985     2.905512
149      4.322836     3.181103      4.007875     2.708662

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [94]:
# Your code here:
    
iris_numeric.apply(max, axis=1)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [98]:
# Your code here:
#epal_length	sepal_width	petal_length	petal_width
iris_numeric['total_length'] = iris_numeric.apply(lambda row: row.sepal_length + row.petal_length, axis=1)
iris_numeric['total_widht'] = iris_numeric.apply(lambda row: row.sepal_width + row.petal_width, axis=1)
iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_widht
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8